USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_TICKETS_FOR_DETAIL_SUPPLIES_REPORT]    Script Date: 6/20/2024 12:17:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 19/6/2024
-- =============================================
ALTER PROCEDURE [dbo].[SP_FIND_TICKETS_FOR_DETAIL_SUPPLIES_REPORT]
	@LOAIPHIEU NVARCHAR(10), @FROM_DATE DATE, @TO_DATE DATE, @MANV NVARCHAR(10)
AS
BEGIN
	DECLARE @EMPLOYEE_ROLE NVARCHAR(8);

	EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
		@EMPLOYEE_ID = @MANV,
		@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

	IF (@LOAIPHIEU = 'NHAP') BEGIN
		SELECT TENVT,
			THANG=CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)),
			TONGSOLUONG=SUM(SOLUONG),
			TONGTRIGIA=SUM(SOLUONG*DONGIA)
		FROM PhieuNhap AS PN
		INNER JOIN (SELECT MAPN, TENVT, SOLUONG, DONGIA FROM CTPN INNER JOIN Vattu ON CTPN.MAVT=Vattu.MAVT) AS _CTPN
		ON PN.MAPN=_CTPN.MAPN
		GROUP BY CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)), TENVT
		ORDER BY THANG ASC;

		IF (@EMPLOYEE_ROLE = 'CHINHANH') BEGIN
			SELECT TENVT,
				THANG=CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)),
				TONGSOLUONG=SUM(SOLUONG),
				TONGTRIGIA=SUM(SOLUONG*DONGIA)
			FROM LINK1.QLVT_DATHANG.DBO.PhieuNhap AS PN
			INNER JOIN (
				SELECT MAPN, TENVT, SOLUONG, DONGIA FROM LINK1.QLVT_DATHANG.DBO.CTPN
				INNER JOIN LINK1.QLVT_DATHANG.DBO.Vattu ON CTPN.MAVT=Vattu.MAVT
			) AS _CTPN ON PN.MAPN=_CTPN.MAPN
			GROUP BY CONCAT(MONTH(PN.NGAY), '-', YEAR(PN.NGAY)), TENVT
		ORDER BY THANG ASC;
		END;
	END;
	ELSE IF (@LOAIPHIEU = 'XUAT') BEGIN
		SELECT TENVT,
			THANG=CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)),
			TONGSOLUONG=SUM(SOLUONG),
			TONGTRIGIA=SUM(SOLUONG*DONGIA)
		FROM PhieuXuat AS PX
		INNER JOIN (SELECT MAPX, TENVT, SOLUONG, DONGIA FROM CTPX INNER JOIN Vattu ON CTPX.MAVT=Vattu.MAVT) AS _CTPX
		ON PX.MAPX=_CTPX.MAPX
		GROUP BY CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)), TENVT
		ORDER BY THANG ASC;

		IF (@EMPLOYEE_ROLE = 'CHINHANH') BEGIN
			SELECT TENVT,
				THANG=CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)),
				TONGSOLUONG=SUM(SOLUONG),
				TONGTRIGIA=SUM(SOLUONG*DONGIA)
			FROM LINK1.QLVT_DATHANG.DBO.PhieuXuat AS PX
			INNER JOIN (
				SELECT MAPX, TENVT, SOLUONG, DONGIA FROM LINK1.QLVT_DATHANG.DBO.CTPX
				INNER JOIN LINK1.QLVT_DATHANG.DBO.Vattu ON CTPX.MAVT=Vattu.MAVT
			) AS _CTPN ON PX.MAPX=_CTPN.MAPX
			GROUP BY CONCAT(MONTH(PX.NGAY), '-', YEAR(PX.NGAY)), TENVT
		ORDER BY THANG ASC;
		END;
	END;
	ELSE THROW 51000, 'Invalid LOAIPHIEU', 1;
END

