USE [QLVT_DATHANG]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_ALL_WAREHOUSES]
	@PAGE INT,
	@SIZE INT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @OFFSET_VALUE INT = (@PAGE - 1) * @SIZE;

	SELECT MAKHO, TENKHO, DIACHI, MACN FROM KHO ORDER BY MAKHO DESC
	OFFSET @OFFSET_VALUE ROWS
	FETCH NEXT @SIZE ROWS ONLY;
END
