USE [QLVT_DATHANG]
CREATE PROCEDURE [dbo].[SP_REPORT_EMPLOYEE_WORKING_STATUS]
	@MANV INT, @FROM_DATE DATE, @TO_DATE DATE
AS
BEGIN
	DECLARE @EMPLOYEE_ROLE NVARCHAR(8);

	EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
		@EMPLOYEE_ID = @MANV,
		@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

	-- EMPLOYEE IS WORKING AT THE CURRENT BRANCH
	IF EXISTS (SELECT 1 FROM NHANVIEN AS NV WHERE NV.MANV = @MANV) BEGIN
		SELECT NGAY, PN.MAPN AS MAPHIEU, LOAIPHIEU = 'NHAP', HOTENKH = 'NULL', TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG * DONGIA
		INTO #DSPN1
		FROM (SELECT NGAY, MAPN FROM PhieuNhap WHERE MANV=@MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PN
		INNER JOIN (
			SELECT MAPN, TENVT, SOLUONG, DONGIA, DVT FROM CTPN INNER JOIN VATTU ON VATTU.MAVT=CTPN.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPN=PN.MAPN;

		SELECT NGAY, PX.MAPX AS MAPHIEU, LOAIPHIEU = 'XUAT', HOTENKH, TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG*DONGIA
		INTO #DSPX1
		FROM (SELECT NGAY, MAPX, HOTENKH FROM PhieuXuat WHERE MANV = @MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE) AS PX
		INNER JOIN (
			SELECT MAPX, TENVT, SOLUONG, DONGIA, DVT FROM CTPX INNER JOIN VATTU ON VATTU.MAVT=CTPX.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPX=PX.MAPX;

		SELECT * FROM #DSPN1
		UNION
		SELECT * FROM #DSPX1
		ORDER BY #DSPN1.NGAY
	END
	-- EMPLOYEE IS WORKING AT THE OTHER BRANCH -> USE LINK 1 TO FETCH DATA
	ELSE BEGIN
		IF NOT (@EMPLOYEE_ROLE = 'CONGTY') BEGIN
			THROW 50000, 'The EMPLOYEE_ROLE is not CONGTY.', 1;
		END;

		SELECT NGAY, PN.MAPN AS MAPHIEU, LOAIPHIEU = 'NHAP', HOTENKH = 'NULL', TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG * DONGIA
		INTO #DSPN2
		FROM (
			SELECT NGAY, MAPN FROM LINK1.QLVT_DATHANG.DBO.PhieuNhap
			WHERE MANV=@MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE
		) AS PN INNER JOIN (
			SELECT MAPN, TENVT, SOLUONG, DONGIA, DVT FROM LINK1.QLVT_DATHANG.DBO.CTPN
			INNER JOIN LINK1.QLVT_DATHANG.DBO.VATTU ON VATTU.MAVT=CTPN.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPN=PN.MAPN;

		SELECT NGAY, PX.MAPX AS MAPHIEU, LOAIPHIEU = 'XUAT', HOTENKH, TENVT,
			CAST(THONGTIN_VATTU.SOLUONG AS NVARCHAR(256)) + ' ' + THONGTIN_VATTU.DVT AS SOLUONG, DONGIA,
			TRIGIA = SOLUONG*DONGIA
		INTO #DSPX2
		FROM (
			SELECT NGAY, MAPX, HOTENKH FROM LINK1.QLVT_DATHANG.DBO.PhieuXuat
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM_DATE AND @TO_DATE
		) AS PX INNER JOIN (
			SELECT MAPX, TENVT, SOLUONG, DONGIA, DVT FROM LINK1.QLVT_DATHANG.DBO.CTPX
			INNER JOIN LINK1.QLVT_DATHANG.DBO.VATTU ON VATTU.MAVT=CTPX.MAVT
		) AS THONGTIN_VATTU ON THONGTIN_VATTU.MAPX=PX.MAPX;

		SELECT * FROM #DSPN2
		UNION
		SELECT * FROM #DSPX2
		ORDER BY #DSPN2.NGAY
	END
END