USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_EMPLOYEES_LIST]    Script Date: 6/23/2024 11:21:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_REPORT_EMPLOYEES_LIST]
	@MANV INT, @MACN_XUAT_BAOCAO nchar(10), @MACN_THUOC_LOGIN nchar(10)
AS
BEGIN

	IF (@MACN_XUAT_BAOCAO != @MACN_THUOC_LOGIN) BEGIN
		DECLARE @EMPLOYEE_ROLE NVARCHAR(20);
		EXEC DBO.SP_FETCH_ROLE_NAME_BY_EMPLOYEE_ID
			@EMPLOYEE_ID = @MANV,
			@ROLE_NAME = @EMPLOYEE_ROLE OUTPUT;

		IF NOT (@EMPLOYEE_ROLE = 'CONGTY') THROW 5100, 'Invalid role accessing', 1;
		
		SELECT MANV, HO, TEN, CMND, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa
		FROM LINK1.QLVT_DATHANG.DBO.NHANVIEN
		ORDER BY MANV DESC, TEN ASC, HO DESC;

	END;
	ELSE BEGIN
		SELECT MANV, HO, TEN, CMND, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa
		FROM NHANVIEN WITH(INDEX(IX_NHANVIEN_TEN, IX_NHANVIEN_HO))
		ORDER BY MANV DESC, TEN ASC, HO DESC;
	END;
END
