USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SUPPLY_QUANTITY]    Script Date: 6/17/2024 8:51:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Le Van Dung
-- Create date: 17/6/2024
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SUPPLY_QUANTITY]
	@OPTION NVARCHAR(8),
	@MAVT NCHAR(4),
	@SOLUONG INT
AS
BEGIN
    IF NOT (EXISTS(SELECT * FROM DBO.Vattu AS VT WHERE VT.MAVT = @MAVT)) BEGIN
		-- MAVT is invalid.
		THROW 50000, '-1', 1;
	END;

	DECLARE @SOLUONGTON INT;
	SELECT TOP 1 @SOLUONGTON=SOLUONGTON FROM Vattu WHERE MAVT=@MAVT;

	IF (@OPTION = 'ADD') BEGIN
		UPDATE Vattu SET SOLUONGTON=(@SOLUONGTON+@SOLUONG) WHERE MAVT=@MAVT;
	END;
    ELSE IF(@OPTION = 'SUBTRACT') BEGIN
		IF (@SOLUONGTON < @SOLUONG) BEGIN
			-- SOLUONGTON is invalid.
			THROW 51000, '-2', 1;
		END;

		UPDATE Vattu SET SOLUONGTON=(@SOLUONGTON-@SOLUONG) WHERE MAVT=@MAVT;
	END;

END;